@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    font-family: 'Poppins', sans-serif;
}

.background-nurkhikmah{
    background: linear-gradient(#0D6C37, #058F42);
}

.atur-height{
    height: 100vh
}

.bg-images{
    background-position: center;
    background-size: cover;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }